@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: 30 35% 40%;
  --primary: 25 50% 35%;
  --dark: 30 50% 25%;
  --light: 30 20% 85%;
  --success: 25 60% 30%;
  --warning: 35 85% 45%;
  --danger: 15 80% 35%;
}

body {
  background-image: url('../assets/img/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
